<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>HolleServlet</servlet-name>
        <servlet-class>HolleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HolleServlet</servlet-name>
        <url-pattern>/holle</url-pattern>
    </servlet-mapping>
</web-app>
